{% extends 'base.html' %}
{% load static %}
{% load my_tags %}

{% block content %}

<div class="col-4 mx-auto d-flex justify-content-center align-items-center">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal text-center">{{ object.name_product | title }}</h4>
            <img src="{% mediapath object.image %}" style="width:380px; height:250px;"/>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">{{object.price}} Руб.</h1>
            <ul class="list-unstyled mt-3 mb-4 text-start m-3 text-center">
                <li>- Описание - {{object.description | title | slice:":100"}}</li>
                <li>- Категория - {{object.category | title}}</li>
                <li>- {{ object.date_making }}</li>
                {% if object.active_version_name %}
                    <p>Активная версия: {{object.active_version_name}}<br>
                {% else %}
                    <p>Активная версия отсутствует <br>
                {% endif %}
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
        </div>
    </div>
</div>
{% endblock %}
